*.pyc
*.pkl
*.ckpt
*events.out.tfevents*
.coverage
hparams.yaml
launch.json
setting.json
build/*
pymiediff.egg-info/*
src/pymiediff.egg-info/*
doc/source/sg_execution_times.rst
doc/source/auto_gallery/*
doc/source/generated/*
doc/build/*
testing/Tandem/*.pt
testing/Tandem/*.txt
testing/Tandem/*.npy